server.host: "0.0.0.0"
server.port: {{ kibana_port }}
server.publicBaseUrl: "http://{{ ansible_default_ipv4.address }}:{{ kibana_port }}"
elasticsearch.hosts: ["http://elasticsearch:9200"]
elasticsearch.username: "elastic"
elasticsearch.password: "{{ elasticsearch_password }}"
elasticsearch.ssl.verificationMode: none
xpack.security.enabled: {{ xpack_security_enabled }}
logging.dest: /var/log/kibana.log