<?php
// Zabbix GUI configuration file.
global $DB;

$DB['TYPE']     = 'POSTGRESQL';
$DB['SERVER']   = '{{ zabbix_web_dbhost | default("localhost") }}';
$DB['PORT']     = '5432';
$DB['DATABASE'] = '{{ zabbix_web_dbname | default("zabbix") }}';
$DB['USER']     = '{{ zabbix_web_dbuser | default("zabbix") }}';
$DB['PASSWORD'] = '{{ zabbix_web_dbpassword | default(postgresql_zabbix_password | default("zabbix_pass")) }}';

$DB['SCHEMA'] = '';

$ZBX_SERVER      = 'localhost';
$ZBX_SERVER_PORT = '10051';
$ZBX_SERVER_NAME = '{{ zabbix_server_name | default("Zabbix Server") }}';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;